.contactForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
}

.contactInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addContactBtn {
  padding: 2px;
}
