.contactList {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
}
